---
import Base from "../layouts/Base.astro";
import { desc } from "astro:db";
import { db, Dictionary, Ayah, Juz } from "astro:db";

const firstSevenAyahs = await db.select().from(Ayah).limit(7);

const verifiedDictionaryData = await db
  .select()
  .from(Dictionary)
  .orderBy(desc(Dictionary.count));

const juzData = await db.select().from(Juz);
---

<Base>
  <section class="text-3xl">
    {firstSevenAyahs.map((ayah) => <p>{ayah.text}</p>)}
  </section>
  {verifiedDictionaryData.length}
  {juzData.length}
  {juzData.map((item) => <p>{item.id}</p>)}
  <!-- {
    verifiedDictionaryData.map((item) => (
      <p>
        {item.count} - {item.word}
      </p>
    ))
  } -->
</Base>
